@page
@model asp_presentacion.Pages.Ventanas.BeneficiosMembresiasModel
@{
    ViewData["Titulo"] = "";
}
<center>
    <div>
        <form method="POST"
              enctype="multipart/form-data">

            @Html.AntiForgeryToken()
            <div align="center">
                <h2>Beneficios de la Membresia</h2>
            </div>

            <div align="center"
                 class="bt_panel_buttons">
                <input type="submit"
                       value="Refrescar"
                       asp-page-handler="BtRefrescar"
                       class="btn btn-secondary"
                       disabled="@(Model.Accion != lib_dominio.Nucleo.Enumerables.Ventanas.Listas)" />
                <input type="submit"
                       value="Nuevo"
                       asp-page-handler="BtNuevo"
                       class="btn btn-secondary"
                       disabled="@(Model.Accion != lib_dominio.Nucleo.Enumerables.Ventanas.Listas)" />
                <input type="submit"
                       value="Guardar"
                       asp-page-handler="BtGuardar"
                       class="btn btn-secondary"
                       disabled="@(Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Listas)" />
                <input type="submit"
                       value="Cancelar"
                       asp-page-handler="BtCancelar"
                       class="btn btn-secondary"
                       disabled="@(Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Listas)" />
            </div>

            @if (Model.Accion != lib_dominio.Nucleo.Enumerables.Ventanas.Listas ||
                        Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Borrar)
            {
                <input type="hidden"
                       asp-for="@Model.Actual!.Id" />
            }
            @if (Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Borrar)
            {
                <input type="hidden"
                       asp-for="@Model.Actual!.Beneficios" />
                <input type="hidden"
                       asp-for="@Model.Actual!.IdMembresias" />
            }
            @if (Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Editar)
            {
                <div class="containers_vn panel panel-default">
                    <div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                Beneficios
                            </label>
                            <div class="col-lg-6">
                                <input id="nmBeneficios"
                                       class="cts_forms form-control"
                                       asp-for="@Model.Actual!.Beneficios" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                Tipo de la membresia asociada
                            </label>
                            <div class="col-lg-6">
                                <select id="nmTipoMembresia" class="form-control" asp-for="@Model.Actual!.IdMembresias" 
                                    asp-items="@(new SelectList(Model.Lista2, "Id", "TipoMembresia"))">
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            }

            @if (ViewData.ContainsKey("Mensaje"))
            {
                <input type="hidden"
                       asp-for="@Model.Accion" />
                @await Html.PartialAsync("../Emergentes/Mensajes2.cshtml");
            }

            @if (Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Borrar)
            {
                <div class='popup'>
                    <div class='pp_del_inner'>
                        <div style='width:95%'>
                            <h2 align="left">
                                Mensaje
                            </h2>
                            <h4 align="left">
                                Desea borrar la entidad?
                            </h4>
                            <h6 align="left">
                                Beneficios : @Model.Actual!.Beneficios
                            </h6>
                            <h6 align="left">
                                Tipo de la Membresia asociada : @Model.Actual!._IdMembresias!.TipoMembresia
                            </h6>
                            <br />
                            <br />
                            <input type="submit"
                                   value="Borrar"
                                   asp-page-handler="BtBorrar"
                                   class="btn btn-secondary" />
                            <input type="submit"
                                   value="Cerrar"
                                   asp-page-handler="BtCancelar"
                                   class="btn btn-secondary" />
                        </div>
                    </div>
                </div>
            }

            @if (Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Listas ||
                        Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Borrar)
            {
                <div class="filtros-container">
                <h3>Filtros</h3>
                <h6>Beneficios de la membresia</h6>
                <input id="flBeneficios"
                       class="cts_forms form-control"
                       asp-for="@Model.Filtro!.Beneficios"
                       placeholder="Beneficios" />
                <br />
                <h6>Tipo de la membresia</h6>
                <input id="fl_IdMembresiasTipoMembresia"
                       class="cts_forms form-control"
                       asp-for="@Model.Filtro!._IdMembresias!.TipoMembresia"
                       placeholder="Tipo de la membresia asociada" />
                </div>
                <br />
                
                <div class="tabla-container">
                <h1 align="left">Tabla de informacion</h1>
                <div class="containers_vn panel panel-default">
                    <table class="tb_data table table-striped table-bordered table-hover">
                        <tr>
                            <th>
                                Beneficios
                            </th>
                            <th>
                                Id de la membresia Asociada
                            </th>
                            <th>
                                Tipo de la Membresia asociada
                            </th>
                            <th class="cl_actions">
                                Accion
                            </th>
                        </tr>
                        @if (Model != null && Model.Lista != null)
                        {
                            @foreach (var elemento in Model.Lista)
                            {
                                <tr>
                                    <td>
                                        @elemento.Beneficios
                                    </td>
                                    <td>
                                        @elemento.IdMembresias
                                    </td>
                                    <td>
                                        @elemento._IdMembresias!.TipoMembresia
                                    </td>
                                    <td>
                                        <input type="submit"
                                               value="Modificar"
                                               asp-page-handler="BtModificar"
                                               class="btn btn-secondary"
                                               asp-route-data="@elemento.Id" />
                                        <input type="submit"
                                               value="Borrar"
                                               asp-page-handler="BtBorrarVal"
                                               class="btn btn-secondary"
                                               asp-route-data="@elemento.Id" />
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                </div>
                </div>
            }
        </form>
    </div>
</center>
