@page
@model asp_presentacion.Pages.Ventanas.InstrumentosModel
@{
    ViewData["Titulo"] = "";
}
<center>
    <div>
        <form method="POST"
              enctype="multipart/form-data">

            @Html.AntiForgeryToken()
            <div align="center">
                <h2>Instrumentos</h2>
            </div>

            <div align="center"
                 class="bt_panel_buttons">
                <input type="submit"
                       value="Refrescar"
                       asp-page-handler="BtRefrescar"
                       class="btn btn-secondary"
                       disabled="@(Model.Accion != lib_dominio.Nucleo.Enumerables.Ventanas.Listas)" />
                <input type="submit"
                       value="Nuevo"
                       asp-page-handler="BtNuevo"
                       class="btn btn-secondary"
                       disabled="@(Model.Accion != lib_dominio.Nucleo.Enumerables.Ventanas.Listas)" />
                <input type="submit"
                       value="Guardar"
                       asp-page-handler="BtGuardar"
                       class="btn btn-secondary"
                       disabled="@(Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Listas)" />
                <input type="submit"
                       value="Cancelar"
                       asp-page-handler="BtCancelar"
                       class="btn btn-secondary"
                       disabled="@(Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Listas)" />
            </div>

            @if (Model.Accion != lib_dominio.Nucleo.Enumerables.Ventanas.Listas ||
                        Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Borrar)
            {
                <input type="hidden"
                       asp-for="@Model.Actual!.Id" />
            }
            @if (Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Borrar)
            {
                <input type="hidden"
                       asp-for="@Model.Actual!.NombreInstrumento" />
                <input type="hidden"
                       asp-for="@Model.Actual!.CantidadEquip" />
                <input type="hidden"
                       asp-for="@Model.Actual!.Piezas" />
                <input type="hidden"
                       asp-for="@Model.Actual!.Marca" />
                <input type="hidden"
                       asp-for="@Model.Actual!.DescripcionGeneral" />
                <input type="hidden"
                       asp-for="@Model.Actual!.Estado" />
                <input type="hidden"
                       asp-for="@Model.Actual!.Proveedor" />
            }
            @if (Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Editar)
            {
                <div class="containers_vn panel panel-default">
                    <div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                Nombre del Instrumento
                            </label>
                            <div class="col-lg-6">
                                <input id="nmNombreInstrumento"
                                       class="cts_forms form-control"
                                       asp-for="@Model.Actual!.NombreInstrumento" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                Cantidad de Equipos
                            </label>
                            <div class="col-lg-6">
                                <input id="nmCantidadEquip"
                                       class="cts_forms form-control"
                                       asp-for="@Model.Actual!.CantidadEquip" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                Numero de Piezas
                            </label>
                            <div class="col-lg-6">
                                <input id="nmPiezas"
                                       class="cts_forms form-control"
                                       asp-for="@Model.Actual!.Piezas" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                Marca
                            </label>
                            <div class="col-lg-6">
                                <input id="nmMarca"
                                       class="cts_forms form-control"
                                       asp-for="@Model.Actual!.Marca" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                Descripcion General
                            </label>
                            <div class="col-lg-6">
                                <input id="nmDescripcionGeneral"
                                       class="cts_forms form-control"
                                       asp-for="@Model.Actual!.DescripcionGeneral" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                Estado
                            </label>
                            <div class="col-lg-6">
                                <input id="nmEstado" type="checkbox"
                                       asp-for="@Model.Actual!.Estado"
                                       class="form-check-input" />
                                <span>Activo</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                Id del Proveedor asociado
                            </label>
                            <div class="col-lg-6">
                                <input id="nmProveedor"
                                       class="cts_forms form-control"
                                       asp-for="@Model.Actual!.Proveedor" />
                            </div>
                        </div>
                    </div>
                </div>
            }

            @if (ViewData.ContainsKey("Mensaje"))
            {
                <input type="hidden"
                       asp-for="@Model.Accion" />
                @await Html.PartialAsync("../Emergentes/Mensajes2.cshtml");
            }

            @if (Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Borrar)
            {
                <div class='popup'>
                    <div class='pp_del_inner'>
                        <div style='width:95%'>
                            <h2 align="left">
                                Mensaje
                            </h2>
                            <h4 align="left">
                                Desea borrar la entidad?
                            </h4>
                            <h6 align="left">
                                @Model.Actual!.NombreInstrumento
                            </h6>
                            <h6 align="left">
                                Proveedor asociado : @Model.Actual!._Proveedor!.NombreEntidad
                            </h6>
                            <br />
                            <br />
                            <input type="submit"
                                   value="Borrar"
                                   asp-page-handler="BtBorrar"
                                   class="btn btn-secondary" />
                            <input type="submit"
                                   value="Cerrar"
                                   asp-page-handler="BtCancelar"
                                   class="btn btn-secondary" />
                        </div>
                    </div>
                </div>
            }

            @if (Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Listas ||
                        Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Borrar)
            {
                <div class="filtros-container">
                <h3>Filtros</h3>
                    <h6>Nombre del Instrumento</h6>
                    <input id="flNombreInstrumento"
                       class="cts_forms form-control"
                           asp-for="@Model.Filtro!.NombreInstrumento"
                           placeholder="Nombre del Instrumento" />
                    <br />
                    <h6>Marca</h6>
                    <input id="flMarca"
                           class="cts_forms form-control"
                           asp-for="@Model.Filtro!.Marca"
                           placeholder="Marca" />
                    <br />
                <h6>Nombre del proveedor</h6>
                    <input id="fl_ProveedorNombreEntidad"
                       class="cts_forms form-control"
                       asp-for="@Model.Filtro!._Proveedor!.NombreEntidad"
                       placeholder="nombre del proveedor asociado" />
                </div>
                <br />
                
                <div class="tabla-container">
                <h1 align="left">Tabla de informacion</h1>
                <div class="containers_vn panel panel-default">
                    <table class="tb_data table table-striped table-bordered table-hover">
                        <tr>
                            <th>
                                    Nombre del Instrumento
                            </th>
                            <th>
                                    Cantidad de Equipos
                            </th>
                            <th>
                                    Numero de Piezas
                            </th>
                            <th>
                                    Marca
                            </th>
                            <th>
                                    DescripcionGeneral
                            </th>
                            <th>
                                    Estado
                            </th>
                            <th>
                                Id del Proveedor Asociado
                            </th>
                            <th>
                                Nombre del Proveedor Asociado
                            </th>
                            <th class="cl_actions">
                                Accion
                            </th>
                        </tr>
                        @if (Model != null && Model.Lista != null)
                        {
                            @foreach (var elemento in Model.Lista)
                            {
                                <tr>
                                    <td>
                                            @elemento.NombreInstrumento
                                    </td>
                                    <td>
                                            @elemento.CantidadEquip
                                    </td>
                                    <td>
                                            @elemento.Piezas
                                    </td>
                                    <td>
                                            @elemento.Marca
                                    </td>
                                    <td>
                                            @elemento.DescripcionGeneral
                                    </td>
                                    <td>
                                            @elemento.Estado
                                    </td>
                                    <td>
                                        @elemento.Proveedor
                                    </td>
                                    <td>
                                        @elemento._Proveedor!.NombreEntidad
                                    </td>
                                    <td>
                                        <input type="submit"
                                               value="Modificar"
                                               asp-page-handler="BtModificar"
                                               class="btn btn-secondary"
                                               asp-route-data="@elemento.Id" />
                                        <input type="submit"
                                               value="Borrar"
                                               asp-page-handler="BtBorrarVal"
                                               class="btn btn-secondary"
                                               asp-route-data="@elemento.Id" />
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                </div>
                </div>
            }
        </form>
    </div>
</center>
