@page
@model asp_presentacion.Pages.Ventanas.UsuariosModel
@{
    ViewData["Titulo"] = "";
}
<center>
    <div>
        <form method="POST"
              enctype="multipart/form-data">

            @Html.AntiForgeryToken()
            <div align="left">
                <h2>Usuario</h2>
            </div>

            <div align="left"
                 class="bt_panel_buttons">
                <input type="submit"
                       value="Refrescar"
                       asp-page-handler="BtRefrescar"
                       class="btn btn-secondary"
                       disabled="@(Model.Accion != lib_dominio.Nucleo.Enumerables.Ventanas.Listas)" />
                <input type="submit"
                       value="Nuevo"
                       asp-page-handler="BtNuevo"
                       class="btn btn-secondary"
                       disabled="@(Model.Accion != lib_dominio.Nucleo.Enumerables.Ventanas.Listas)" />
                <input type="submit"
                       value="Guardar"
                       asp-page-handler="BtGuardar"
                       class="btn btn-secondary"
                       disabled="@(Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Listas)" />
                <input type="submit"
                       value="Cancelar"
                       asp-page-handler="BtCancelar"
                       class="btn btn-secondary"
                       disabled="@(Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Listas)" />
            </div>

            @if (Model.Accion != lib_dominio.Nucleo.Enumerables.Ventanas.Listas ||
                        Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Borrar)
            {
                <input type="hidden"
                       asp-for="@Model.Actual!.Id" />
            }
            @if (Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Borrar)
            {
                <input type="hidden"
                       asp-for="@Model.Actual!.Nombre" />
                <input type="hidden"
                       asp-for="@Model.Actual!.Contrasenha" />
                <input type="hidden"
                       asp-for="@Model.Actual!.IdEmpleado" />
                <input type="hidden"
                       asp-for="@Model.Actual!.IdRol" />
            }
            @if (Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Editar)
            {
                <div class="containers_vn panel panel-default">
                    <h3>Crear Usuario</h3>
                    <div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                Nombre de usuario
                            </label>
                            <div class="col-lg-6">
                                <input id="nmNombre"
                                       class="cts_forms form-control"
                                       asp-for="@Model.Actual!.Nombre" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                Contraseña
                            </label>
                            <div class="col-lg-6">
                                <input id="nmContrasenha"
                                       class="cts_forms form-control"
                                       asp-for="@Model.Actual!.Contrasenha" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                IdEmpleado
                            </label>
                            <div class="col-lg-6">
                                <input id="nmIdEmpleado"
                                       class="cts_forms form-control"
                                       asp-for="@Model.Actual!.IdEmpleado" />
                            </div>
                        </div>
                        <!--Rol Desplegable-->
                        <div class="form-group">
                            <label class="col-lg-4 control-label">Rol</label>
                            <div class="col-lg-6">
                                <select asp-for="@Model.Actual!.IdRol"
                                        class="form-control">
                                    @foreach (var rol in Model.Roles)
                                    {
                                        <option value="@rol.Id">@rol.Nombre</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            }

            @if (ViewData.ContainsKey("Mensaje"))
            {
                <input type="hidden"
                       asp-for="@Model.Accion" />
                @await Html.PartialAsync("../Emergentes/Mensajes.cshtml");
            }

            @if (Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Borrar)
            {
                <div class='popup'>
                    <div class='pp_del_inner'>
                        <div style='width:95%'>
                            <h2 align="left">
                                Mensaje
                            </h2>
                            <h4 align="left">
                                Desea borrar la entidad?
                            </h4>
                            <h6 align="left">
                                Usuario : @Model.Actual!.Nombre
                            </h6>
                            <br />
                            <br />
                            <input type="submit"
                                   value="Borrar"
                                   asp-page-handler="BtBorrar"
                                   class="btn btn-secondary" />
                            <input type="submit"
                                   value="Cerrar"
                                   asp-page-handler="BtCancelar"
                                   class="btn btn-secondary" />
                        </div>
                    </div>
                </div>
            }
        </form>
    </div>
</center>
