<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Gimnasio</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/asp_presentacion.styles.css" asp-append-version="true" />
</head>
<body class="@(ViewData["OcultarCabecera"] as bool? == true
                      ? "login-page"
                      : "welcome-page")">
    @if (ViewData["OcultarCabecera"] as bool? != true)
    {
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Gimnasio</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" id="mainNavbar">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Inicio</a>
                        </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark"
                                     asp-area=""
                                    asp-page="/Ventanas/BeneficiosMembresias">
                                     BeneficiosMembresias
                                  </a>
                              </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark"
                                   asp-area=""
                                   asp-page="/Ventanas/ClasesGrupales">
                                    ClasesGrupales
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark"
                                   asp-area=""
                                   asp-page="/Ventanas/Clientes">
                                    Clientes
                                </a>
                            </li>


                            <li class="nav-item">
                                <a class="nav-link text-dark"
                                   asp-area=""
                                   asp-page="/Ventanas/ClientesClasesGrupales">
                                    ClientesClasesGrupales
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark"
                                   asp-area=""
                                   asp-page="/Ventanas/ClientesInstrumentos">
                                    ClientesInstrumentos
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark"
                                   asp-area=""
                                   asp-page="/Ventanas/ClientesMembresias">
                                    ClientesMembresias
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark"
                                   asp-area=""
                                   asp-page="/Ventanas/ClientesSuplementos">
                                    ClientesSuplementos
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark"
                                   asp-area=""
                                   asp-page="/Ventanas/Empleados">
                                    Empleados
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark"
                                   asp-area=""
                                   asp-page="/Ventanas/Instalaciones">
                                    Instalaciones
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark"
                                   asp-area=""
                                   asp-page="/Ventanas/InstalacionesClientes">
                                    InstalacionesClientes
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark"
                                   asp-area=""
                                   asp-page="/Ventanas/InstalacionesEmpleados">
                                    InstalacionesEmpleados
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark"
                                   asp-area=""
                                   asp-page="/Ventanas/Instrumentos">
                                    Instrumentos
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark"
                                   asp-area=""
                                   asp-page="/Ventanas/Membresias">
                                    Membresias
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark"
                                   asp-area=""
                                   asp-page="/Ventanas/Proveedores">
                                    Proveedores
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark"
                                   asp-area=""
                                   asp-page="/Ventanas/Suplementos">
                                    Suplementos
                                </a>
                            </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    }
    @if (ViewData["OcultarCabecera"] as bool? == true)
    {
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    }
    else
    {
        <main role="main" class="welcome-content">
            @RenderBody()
        </main>
    }


    <footer class="border-top footer text-muted @(ViewData["OcultarCabecera"] != null ? "login-footer" : "")">
        <div class="container">
            &copy; 2025 - Gimnasio - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>